<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="m-container-small" style="max-width: 30em !important;">
    <div class="ui touming container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui inverted image header">
                    <div class="content">
                        博客管理后台登录
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="userName" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="passWord" placeholder="密码">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">登    录</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui message negative mini" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名或密码错误！</div>

                </form>

            </div>
        </div>
    </div>
</div>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'userName',
                rules: [{
                    type: 'empty',
                    prompt: '用户名不可为空，请输入用户名！'
                }]
            },
            password: {
                identifier: 'passWord',
                rules: [{
                    type: 'empty',
                    prompt: '密码不可为空，请输入正确密码！'
                }]
            },
        },
    });
</script>
</body>
</html>