<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui touming container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">博客后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>管理</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/touxiang.jpg">
                        FXR
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">退出账号</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--二级导航栏-->
<div class="ui attached pointing menu">
    <div class="ui touming container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class="item">新增</a>
            <a href="#" th:href="@{/admin/types}" class="teal active item">列表</a>
        </div>
    </div>
</div>

<!--中间部分-->
<div class=" m-container-small m-padded-tb-big">
    <div class="ui touming container">


        <!--列表部分-->
        <table class="ui compact teal table">
            <!--表头-->
            <thead>
                <tr>
                    <th></th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>

            <!--表格-->
            <tbody>
            <tr th:each="type,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${type.name}">刻意练习清单</td>
                <td>
                    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>


            <!--功能操作-->
            <tfoot>
                <tr>
                   <th colspan="6">
                        <div class="ui mini pagination menu" th:if="${page.totalPages} > 1">
                            <a th:href="@{/admin/types(page=${page.number} - 1)}" class="item" th:unless="${page.first}">上一页</a>
                            <a th:href="@{/admin/types(page=${page.number} + 1)}" class="item" th:unless="${page.last}">下一页</a>
                       </div>
                       <a href="#" th:href="@{/admin/types/input}" class="ui right floated teal basic button">新增</a>
                   </th>
                 </tr>
            </tfoot>
        </table>


        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--底部-->
<footer th:replace="admin/_fragments :: footer" class="ui touming inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">失败要趁早</a>
                    <a href="#" class="item">学习清单</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">联系方式</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：2816077466@qq.com</a>
                    <a href="#" class="item">VX：fxr2816077466</a>
                    <a href="#" class="item">QQ：2816077466</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">FXR</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的首个个人博客，我会在这上面分享关于学习编程、写作思考等相关的内容，希望可以给大家带来一些启发和帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">On June 24, 2020, FXR's first personal blog officially started writing</p>
    </div>
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item')
            .toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on :'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
    });
</script>
</body>
</html>